build/
build-mlir/
build_dbg/
.parus-toolchains/
target/
docs/memo/*
.*/
.ccache/
tests/out/*
bar/
.lei/
.lei-cache/

sysroot/.cache/
sysroot/.cache/exports/
sysroot/.cache/exports/core.exports.json

PMF/
